.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body {
  width: 92%; 
  margin: auto;
  overflow: hidden;  
  position: relative;
  background-color: rgb(250, 250, 250);
}

.slider_title {
  font-size: 2.3vw;
  color: rgb(33, 17, 14);
  font-weight: bold;
  font-family: cursive;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 1rem;
}

 .card-wrapper {
  width: 100%;
  position: relative;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4,25%);  
  height: 225px;  
  background-color: rgb(243, 241, 248,);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
} 



.card-wrapper:active, .card-wrapper:hover, .card-wrapper:focus {
  outline: none;
  border: none;
}

.card {
  width: 99%; 
  height: 225px;  
  display: flex;  
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.card .card-image {
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgb(255, 255, 255);
  -webkit-transition: .5s;
  transition: .5s;
}

.card .card-image img {
  width: 100%;
  size: 80%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
 
.card:hover img {
  opacity: .4;
  -webkit-transition: .5s;
  transition: .5s;
}

.card:hover .card-image {
  -webkit-transform: translateY(-78px);
          transform: translateY(-78px);
  -webkit-transition: all .9s;
  transition: all .9s;
}

.details {
  position: absolute;
  bottom: 300px;
  left: 0;
  background-color: whitesmoke;
  width: 100%;
  height: 100px;
  z-index: 1;
  padding: 8px;
  -webkit-transition: .6s;
  transition: .6s;
}

.details h4 {
  margin: 17px ;
  font-size: 20px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: rgb(53, 53, 53);  
  padding-top:13px;
  line-height: 3px;
  text-align: center;
  cursor: none;
}

.details .job-title {
  font-size: 16px;
  margin-left: 35%;  
  color: rgb(53, 53, 53);  
}
.job-title:hover{
  color: rgb(19, 7, 186);
  text-decoration: underline;
}

.card:hover .details {
  bottom: 0;
}

.carousel .slick-dots {
  bottom: -2.4vw;
}

.carousel .slick-dots li button {
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  border-radius: 18px;
  background-color: rgba(255, 178, 0, 0.843);
  
}

.carousel .slick-dots li button:before {
  position: absolute;
  top: 45%;
  left: 45%;
  right: 50%;
  width: 4px;
  height: 4px;
  border-radius: 9px;
  content: "";
  text-align: center;
  opacity: .5;
  color: #000;
  border: 1px solid;
  background-color: rgb(23, 8, 110);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.carousel .slick-dots li.slick-active button, .carousel .slick-dots li:hover button {
  border-color: rgb(102, 5, 237);
}

.carousel .slick-dots li.slick-active button:before, .carousel .slick-dots li:hover button:before {
  background-color:rgb(94, 77, 117);
  opacity: 1;
}

.carousel .slick-prev, .carousel .slick-next {
  width: 30px;
  height: 25px;  
  background-color: rgb(122, 116, 142);
}

.carousel .slick-prev:hover, .carousel .slick-prev:focus, .carousel .slick-next:hover, .carousel .slick-next:focus {
  color: #fff;
  outline:
 none;
  background: #fff;
}

.carousel .slick-prev:before, .carousel .slick-next:before {
  color: #000;
  font-family: "Raleway", sans-serif;
}

.carousel .slick-next {
  right: -30px;
}

.carousel .slick-prev {
  left: -30px;
}






